# Chặn thư mục cấu hình của Visual Studio
.vs/

# Chặn các thư mục biên dịch (Build outputs)
[Bb]in/
[Oo]bj/

# Chặn các file người dùng cá nhân
*.user
*.suo
*.pdb

# Chặn file Log tự sinh (nếu có)
*.log